.App {
  text-align: center;
  min-height: 60vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search {
  display:flex;
  border:2px solid white;
  border-radius:5px;
  padding:5px;
  width:
}

/* .main-box { 
 width:300px;
 display:flex;
 justify-content: flex-start;
 flex-direction: column;
 align-items:cemter;
 background-color:whitesmoke;
 margin:0px auto;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

} */
.main-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Corrected 'cemter' to 'center' */
  /* background-color: whitesmoke; */
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom:50px;
  padding: 20px; /* Adding some padding for spacing */

  /* Additional styles to align the input and label horizontally */
  text-align: left;
}

.main-box h1 {
  margin-bottom: 20px; /* Adding some space below the heading */
}

.main-box form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-box label {
  margin-bottom: 5px; /* Adding some space below each label */
}

.main-box input {
  width: 100%; /* Filling the available space horizontally */
  padding: 5px; /* Adding some padding for spacing */
  margin-bottom: 10px; /* Adding some space below each input */
  outline:0;
  border-width:0 0 2px;
  border-color: black;
  
}

.main-box button {
  width: 100%; /* Filling the available space horizontally */
  padding: 10px; /* Adding some padding for spacing */
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* Styling error messages */
.main-box span {
  color: red;
}


.main-container{
  background-color:white;
  min-height:80vh;
  padding-top: 2rem;
  padding-bottom: 2rem;


}

label {
  text-align:left;
  padding:0.25rem 0;
}

input{
  margin: 0.5rem 0; 
}

button{
  border:none;
  background-color: rgba(20, 103, 171, 0.696);
  padding:10px;
}
button hover{
  cursor:pointer;
  background-color: #4262f2;
}


